@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}
select {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 12pt;
}
a {
  color: #006CB8;
}
a:hover {
  color: #00548f;
}
span.emph {
  font-style: italic;
}
h2.subtitle {
  font-style: italic;
  font-weight: 300;
  color: #666;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
#loading-spinner {
  height: 32px;
  width: 32px;
  display: inline-block;
  position: relative;
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
