@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  margin: 0px;
}
select {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 12pt;
}
a {
  color: #006CB8;
}
a:hover {
  color: #00548f;
}
span.emph {
  font-style: italic;
}
h1.page-title {
  margin: 0px;
  padding-left: 8px;
  color: #666;
  font-weight: 300;
  font-variant: small-caps;
}
h2.subtitle {
  font-style: italic;
  font-weight: 300;
  color: #666;
}
h2 {
  margin: 0px;
  padding: 4px;
}
button {
  border: 1px solid #4d4f53;
  font-family: inherit;
  color: #4d4f53;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #2e2d29;
}
button:focus {
  outline: 0;
  border: 1px solid rgba(0,93,255,0.8);
  box-shadow: 0 0 0 0.1rem rgba(0,93,255,0.8);
}
.faded-text {
  color: #999;
  font-style: italic;
}
#dashboard-control {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 8px 4px;
}
#dashboard-control > * {
  margin: 2px;
  z-index: 3000;
}
#plant-selector {
  flex: 6;
  min-width: 300px;
}
#unit-selector {
  flex: 3;
  min-width: 100px;
}
#load-data-button {
  flex: 1;
}
#loading-spinner {
  min-width: 32px;
  position: relative;
}
.info-card {
  position: sticky;
  top: 0px;
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0px -2px 3px 2px rgb(255, 255, 255),
    0px 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 2000;
}
.info-card table {
  width: 100vw;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
}
.info-card table tr {
  border-style: hidden;
}
.info-card table td, th {
  padding: 2px 4px;
  border: 0.5px solid #ddd;
}
.plot-container {
  margin-top: 4px;
}
.extra-tall {
  height: 720px;
}
.text-container {
  padding: 1rem;
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
