@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}
select {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 12pt;
}
a {
  color: #006CB8;
}
a:hover {
  color: #00548f;
}
span.emph {
  font-style: italic;
}
h2.subtitle {
  font-style: italic;
  font-weight: 300;
  color: #666;
}
button {
  border: 1px solid #4d4f53;
  font-family: inherit;
  color: #4d4f53;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #2e2d29;
}
button:focus {
  outline: 0;
  border: 1px solid rgba(0,93,255,0.8);
  box-shadow: 0 0 0 0.1rem rgba(0,93,255,0.8);
}
.flex-row {
  display: flex;
  max-width: 1000px;
}
.flex-row > * {
  margin: 2px;
}
#plant-selector {
  flex: 6;
}
#unit-selector {
  flex: 2;
}
#load-data-button {
  flex: 1;
}
#loading-spinner {
  height: 32px;
  width: 32px;
  position: relative;
}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
